/* .rectangle{
    height: 100px;
    width: 100px;
    background-color: crimson;
    border-radius: 1000px;
}
.button{
    hei
} */
.sakthi{
 background-color: blueviolet;
 color: black;
 border-radius: 2px;
 
}
.santhosh{
    background-color: blue;
    color: black;
}
.rohit{
    background-color: beige;
    color: brown;
}
.partha{
    background-color: antiquewhite;
    color: darkgoldenrod;
}
.sv{
    color: chartreuse;
}
/* .con{
    margin: 20px;
    background-color: aqua;
} */