.Box{
    background-color: brown;
    height: 50px;
    width: 50px;
    position: relative;
    top: 10px;
    left: 300px;


    
}
.box1{
    background-color: brown;
    height: 50px;
    width: 50px;
    position:sticky;
    bottom: 40px;
    
    
}