.a{
    background-color: aqua;
    height: 500px;
    width: 500px;
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 30px solid rgb(234, 210, 165);
    border-radius: 40px;
}
.apple{
    background-color: blueviolet;
    color: aliceblue;
    border: 2px solid red;
    padding: 10px;
    border-radius: 30px;

}
.ball{
    background-color: brown;
    color: aliceblue;
    padding: 10px;
    border: 2px solid mediumslateblue;
    border-radius: 30px;
}
.cat{
    background-color: rgb(160, 95, 95);
    color: antiquewhite;
    border: 2px solid yellow;
    border-radius: 30px;
    padding: 10px;
}
.x{
    padding: 20px;
    
    
}
button:hover{
    background-color: darkgreen;
}